.hi{
    background-color: black;
}
.box{
    height: 100px;
    width: 100px;
    background-color: black;
    margin: 20px auto;
}

button{
    background-color: black;
    color: white;
    padding: 12px;
    border-radius: 12px;
}